
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* room */
/* .room {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  gap: 8px;
  margin: 0 8px;
} */

.room .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

.streams{
  position: absolute;
  bottom: 10%;
  display: inline-block;
  background-color: #f6fbff;
  height: 60%;
  width: 50%;
}

.box-wrap{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.box{
  position: absolute;
  color:white;
  width: 50%;
  height: 50%;
  border: 1px solid blue;
  box-sizing: border-box;
}

.tl{
  top: 0;
  left: 0;
}

.tr{
  top: 0;
  right: 0;
}

.br{
  bottom: 0;
  right: 0;
}

.bl{
  bottom: 0;
  left: 0;
}

#audio_mute_trigger{
  position: absolute;
  background-color:whitesmoke;
  top: 50px;
  left: 10px;
}

#video_mute_trigger{
  position: absolute;
  background-color:whitesmoke;
  top: 50px;
  left: 100px;
}
