
html{
    background-color:#004840;
}
.player-name{
    position: absolute;
    top: 10px;
    left: 10px;
    height:50px;
    font-size:30px;
    font-family: 'Lobster', cursive;
    margin:0;
}

#start-msg{
    font-family: 'Lobster', cursive;
    font-size:50px;
    position:absolute;
    top:45%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    color:#daa520;
    z-index: 999;
}

/*#player1,#player2,#player3,#player4{
    background-color: #004840;
    height:350px;
    width:450px;
    padding:0;
    color:white;
}

.win-msg{
    font-family: 'Lobster', cursive;
    font-size:30px;
    position:absolute;
    top: 10px;
    left: 50%;
    color:#daa520;
    margin:0;
    height:50px;
}

#player1{
    width:33%;
    position:absolute;
    top:0%;
    left:50%;
    transform: translateX(-50%);
}
#player2{
    width:33%;
    position:absolute;
    top:50%;
    left:0%;
    transform: translateY(-50%);
}
#player3{
    width:33%;
    position:absolute;
    bottom:0%;
    left:50%;
    transform: translateX(-50%);
}
#player4{
    width:33%;
    position:absolute;
    top:50%;
    right:0%;
    transform: translateY(-50%);
}*/

.win-msg{
    font-family: 'Lobster', cursive;
    font-size:30px;
    position:absolute;
    top: 10px;
    left: 50%;
    color:#daa520;
    margin:0;
    height:50px;
    z-index: -1;
}

#win-msg1{
    top:200px;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
#win-msg2{
    top:50%;
    left:225px;
    transform: translateY(-50%) translateX(-50%);
}
#win-msg3{
    bottom:150px;
    left:50%;
    transform: translateY(+50%) translateX(-50%);
}
#win-msg4{
    top:50%;
    right:225px;
    transform: translateY(-50%) translateX(+50%);
}

.game-canvas{
    /* width:450px;
    height:300px; */
    vertical-align: middle;
    width:50%;
    object-fit: fill;
    background-color: 'yellow';
    float: left;

}
